* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}
.key {
	background-color: #503636;
	width: 70px;
	height: 40px;
	color: #dcd9d9;
	border-radius: 10px;
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.display {
	width: 95%;
	height: 25px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #f4afb4;
	font-size: 1.7rem;
	font-weight: 700;
	border: 1px solid #545050;
	border-radius: 7px;
}

.keys-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.calculator {
	width: 300px;
	background-color: #797d81;

	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}
